[Unit]
Description=Debugging purposes only

[Service]
Type=simple
User=foo # Change user
ExecStart=whoami #Script/Command to execute

[Install]
WantedBy=multi-user.target
